<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Jsme malé rodinné truhlářství a stavíme pergoly, terasy, dřevěné fasády a vyrábíme interiérový nábytek. Kuchyně, ložnice, předsíně a vestavěné skříně">

    <title>MARELEN - @ViewData["Title"]</title>

    <link rel="stylesheet" href="/css/style.min.css?v=20220210-01" />
</head>

<body>
    <header>
        <nav class="nav">
            <div class="container">
                <div class="nav__bar">
                    <a href="/index.html">
                        <img src="/img/logo.svg" alt="logo marelen" class="nav__brand">
                    </a>

                    <img class="nav__hamb nav__icon" src="/img/ikona/hamburger.svg" alt="hamburger menu">
                    <img class="nav__close nav__icon" src="/img/ikona/zavrit.svg" alt="zavřít menu">

                    <ul class="nav__menu">
                        <li class="nav__item">
                            <a class="nav__link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="main">
        @RenderBody()
    </main>


    <footer class="footer">
    </footer>

    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false);

</body>
</html>
