@import "../core/variable.scss";
@import "../base/heading.scss";
.card {
    $self: &;
    display: flex;
    flex-direction: column;
    width: 100%;
    &__header {
        margin-bottom: 32px;
    }
    &__body {
        flex: 1 1 auto;
        margin-bottom: 32px;
    }
    &__title {
        @extend .heading;
        @extend .heading--title;
    }
    &__img {
        margin-bottom: 3rem;
    }
    &--service {
        #{$self}__text {
            max-width: 450px;
        }
    }
}