@import "../core/variable.scss";
.nav {
    $self: &;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    background: $color-secondary;
    &__bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    &__item {
        padding: 32px 0;
        text-align: center;
    }
    &__link {
        font-size: 12px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: $color-primary;
        font-weight: bold;
    }
    &__icon {
        height: 20px;
        &:hover {
            cursor: pointer;
        }
    }
    &__brand {
        height: 18px;
    }
    &__menu {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        list-style: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: $color-secondary;
        display: none;
        padding-bottom: 32px;
        &--active {
            display: flex;
        }
    }
    @media(min-width: $breakpoint-laptop) {
        &__bar {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &__menu {
            position: relative;
            top: initial;
            left: initial;
            width: 60%;
            display: flex;
            flex-direction: row;
            padding-bottom: 0;
        }
        &__hamb,
        &__close {
            display: none;
        }
    }
}