@import "../core/variable.scss";
.sepia {
    background: $color-secondary;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.144);
    margin-bottom: 3rem;
    &__img {
        width: 100%;
        object-fit: cover;
        mix-blend-mode: luminosity;
    }
}