@{
    ViewData["Title"] = "Hyaluronic plumping";
}

<section class="section section--padding">
    <div class="container">
        <h1 class="heading heading--display">Hyaluronic plumping</h1>

        <div class="grid grid--2v3">
            
            <div>
                <div class="sepia">
                    <img src="/img/sluzba/hyaluronic.jpeg?v=20220228-01" alt=" Hyaluronic plumping" class="sepia__img" />
                </div>
            </div>

            <div>
                <p>
                    Zhutnění a zvýšení objemu pleti s kyselinou hyaluronovou. Neinvazivní zhutnění a objemové ošetření, které vyplňuje, snižuje šířku a hloubku vrásek včetně mimických linií pomocí multimolekulární a cross link kyseliny hyaluronové. 
                    
                 </p>
                <p>
                    Patentovaná metoda aplikace Skin patting je absolutní novinka pro ošetření nedokonalostí obličeje a těla, celosvětově jedinečná nechirurgická technologie, která se pyšní 3 světovými patenty a představuje 100% italskou inovací. 
                </p>
                 
                <p>
                    Ideální řešení pro nedokonalost
                    pleti, od laxnosti pokožky po celulitidu, od aktivního akné, po lokální adipozitu, jizvy, strie.
                </p>

                <p>
                    <b>
                        viditelné a okamžité výsledky!
                    </b>
                </p>
                <p class="mb-5">
                    <b>
                        efektivita zdravotnické technologie
                    </b>
                </p>

                <div class="sepia">
                    <img src="/img/detail/hyaluronic-01.jpg" alt="Hyaluronic plumping" class="sepia__img mb-3" />
                </div>

                <div class="sepia">
                    <img src="/img/detail/hyaluronic-02.jpg" alt="Hyaluronic plumping" class="sepia__img mb-3" />
                </div>

                <div class="sepia">
                    <img src="/img/detail/hyaluronic-03.jpg" alt="Hyaluronic plumping" class="sepia__img mb-3" />
                </div>
                <div class="sepia">
                    <img src="/img/detail/hyaluronic-04.jpg" alt="Hyaluronic plumping" class="sepia__img mb-3" />
                </div>
            </div>
        </div>
    </div>
</section>