@{
    ViewData["Title"] = "Kosmetika";
}

<section class="section section--padding">
    <div class="container">
        <h1 class="heading heading--display">kosmetika</h1>

        <div class="grid grid--2v3">
            
            <div>
                <div class="sepia">
                    <img src="/img/sluzba/kosmetika.jpg" alt="kosmetika" class="sepia__img" />
                </div>
            </div>

            <div>
                <p>
                    Základní ošetření pro všechny typy pleti
                </p>

                <p>
                    Regenerační péče pro citlivou, alergickou, suchou, smíšenou a dehydrovanou pleť
                </p>

                <p>
                    Široký výběr typu masek, parafínové zábaly
                </p>

                <p>
                    Trvalá na řasy
                </p>

                <p>
                    Barvení obočí a řas
                </p>

                <p>
                    Kosmetické ošetření celulitidy
                </p>

                <p>
                    Čokoládové ošetření zad
                </p>

                <p>
                    Depilace
                </p>

                <p>
                    Líčení
                </p>

                <p>
                    Poradenství v oblasti péče o pleť
                </p>

                <p>
                    GERMAINE DE CAPUCCINI, LARENS, LASOCARE, RENE D'ESSAY
                </p>
            </div>
        </div>
    </div>
</section>