@{
    ViewData["Title"] = "Masáž";
}

<section class="section section--padding">
    <div class="container">
        <h1 class="heading heading--display">masáž</h1>

        <div class="grid grid--2v3">
            
            <div>
                <div class="sepia">
                    <img src="/img/sluzba/masaz.jpeg" alt="masáž" class="sepia__img" />
                </div>
            </div>

            <div>
                <h2 class="heading heading--title">
                    relaxační aromaterapeutická masáž obličeje, krku, šíje a dekoltu
                </h2>
                <p>
                    Jemná, velmi příjemná relaxační masáž, při níž klientka načerpá ztracenou energii a příjemně se odreaguje. Ideální pro osoby trpící pracovním vypětím, stresem nebo nervozitou. Dokonale zklidňuje a účinně odbourává stres.
                </p>

                <p>
                    Jako součást kosmetického ošetření využívá účinků rostlinných silic. Aplikované oleje, které při masáži pronikají do kůže, obsahují množství bioaktivních látek, vitamínů a minerálů. Tyto látky výrazně zlepšují stav pleti, regenerují pokožku i tkáně, působí blahodárně při kožních onemocněních.
                </p>
                
                <p>
                    Výborně se vstřebávají a nezanechávají pocit mastnoty. Vdechování vůní aromaterapeutických přípravků zároveň ovlivňuje psychické rozpoložení zákazníka. Výsledkem ošetření je tedy nejen krásná, omlazená a zregenerovaná pleť ale i pocit dokonalé relaxace a pohody.
                </p>
            </div>
        </div>
    </div>
</section>