@{
    ViewData["Title"] = "Microneedling dermapen";
}

<section class="section section--padding">
    <div class="container">
        <h1 class="heading heading--display">microneedling dermapen</h1>

        <div class="grid grid--2v3">

            <div>
                <div class="sepia">
                    <img src="/img/sluzba/microneedling.jpg" alt="microneedling dermapen" class="sepia__img" />
                </div>
            </div>

            <div>

                <p>
                    Microneedling – DermaPen neboli mikrojehličkování je nová, elegantní a vysoce účinná terapie ke stimulaci tvorby kolagenu a elastinu.
                </p>

                <p>
                    Jedná se o automatické vibrační pero, které je určeno pro jehličkovou mezoterapii pomocí vysokofrekvenčních vpichů. Cílem je vpravení účinných kosmetických látek či sér do pleti, vyvolání zvýšené syntézy kolagenu a elastinu s cílem omlazení pleti, sjednocení
                    barevného odstínu kůže, řešení kosmetických problémů – jizvy, strie, akné atd.
                </p>

                <p>
                    Mikroneedling využívá vlastní fyziologické schopnosti regenerace kůže, stimuluje kožní buňky k produkci kolagenu a zároveň tvoří nové kožní buňky. Vzniklé kanálky se využívají pro lepší vpravení účinných sér, např. neinvazivní botoxové sérum proti vráskám,
                    hydratační sérum, vitamínové sérum. Do kůže se jich tímto způsobem dostane o 80% až 90% více než pouhým nanesením na její povrch.
                </p>

                <p>
                    Microneedling mezoterapie řeší následující indikace:
                </p>

                <ul>
                    <li>zvýšená tvorba kolagenu</li>
                    <li>sjednocení barevného odstínu pleti</li>
                    <li>zpevnění a zesílení kůže</li>
                    <li>omlazení a vypnutí kůže v obličeji, krku, dekoltu</li>
                    <li>posílení hydratace a výživy kůže</li>
                    <li>ošetření nezánětlivého akné</li>
                    <li>hyperpigmentace</li>
                    <li>vypadávání vlasů</li>
                    <li>rozšířené žilky, metličky</li>
                    <li>zlepšení vzhledu jizev a strií</li>
                    <li>vitamínová terapie</li>
                </ul>

                <p>
                    Mikroneedling vede k výborným výsledkům v rejuvenaci pokožky, léčbě strií, jizev a kuperozy. Je to nejnovější technika, která napomáhá obnovit zdravý a mladistvý vzhled pokožky za přijatelné ceny v krátkém čase.
                </p>

                <p class="mb-3">
                    Mikroneedling je také jednou z mála dermoterapií, které jsou vhodné pro všechny typy pleti a může být použita i na křehkou pokožku, v okolí očí, úst, krku a hřbety rukou. Výsledkem je jemnější, hladší, pevnější a mladší pokožka.
                </p>


                <section class="subsection">
                    <h2 class="heading heading--title">kolik je třeba ošetření mikrojehličkováním ?</h2>

                    <p>
                        V závislosti na vašem věku, počtu a hloubce vrásek anebo jizev a také tloušťce vaší kůže, je zapotřebí několika sezení v odstupu 1-2 měsíců.
                    </p>

                    <p>
                        2-3 ošetření v rozmezí 1-2 měsíců je nutné pro odstranění povrchových vrásek, projasněni, zvýšeni hydratace a z pevněni pleti.
                    </p>

                    <p>
                        3-5 ošetření v rozmezí 1-2 měsíců pro středně až hluboké vrásky a hluboké jizvičky 1 ošetření 1-3x ročně – „udržovací“ vzhledem k přirozenému procesu stárnutí pokožky.
                    </p>
                </section>

                <section class="subsection">
                    <h2 class="heading heading--title">kontraindikace</h2>

                    <ul>
                        <li>horečnatá onemocnění</li>
                        <li>aktivní forma akné</li>
                        <li>autoimunitní onemocnění</li>
                        <li>léčba léky na ředění krve</li>
                        <li>prudké sluneční záření nebo dlouhodobá expozice těsně před a po ošetření</li>
                        <li>saunování, parní lázeň, cvičení, kadeřnické úkony těsně před a po ošetření</li>
                        <li>gravidita</li>
                        <li>kojení</li>
                    </ul>

                    <p>
                        V salonu provádíme mikroneedling přístrojem Derma Pen, který pracuje s jednorázovými sterilními mikrojehličkovými nástavci. Tyto vertikálně propichují pokožku a vnikají do nastavené hloubky kůže – 0,25 až 2 mm. Derma Pen využívá systém automatické vibrace,
                        jehličky se vpichují do kůže vysokou rychlostí (v průměru 1500 vpichů za sekundu). Díky tomu je ošetření minimálně bolestivé, na rozdíl od jiných metod jehličkování.
                    </p>

                    <ul>
                        <li>vertikální vpichy nepoškozují epidermis jako jiné jehličkové metody, kůže se hojí rychleji, trauma je minimální</li>
                        <li>rychlé vpichy minimalizují bolest</li>
                        <li>díky nastavitelné hloubce vpichu lze Derma Perem ošetřit celou plochu obličeje, ale i tělo (jizvy a strie na těle)</li>
                        <li>
                            dermaPen lze díky jeho unikátním vlastnostem použít i na delikátní plochy jako je okolí očí, rty, nos
                        </li>
                        <li>v našem salonu vám ušijeme ošetřeni na míru podle vašich potřeb a možnosti</li>
                    </ul>

                    <p>
                        Před ošetřením si v salonu probereme postup a typ ošetření a doporučenou péči po zákroku.
                    </p>

                    <p>
                        Bez písemného „Souhlasu s ošetřením“ klientky nelze ošetření provádět.
                    </p>

                    <p>
                        <strong>
                            Doba ošetření cca 75 minut (dle ošetřované partie) + konzultace.
                        </strong>
                    </p>
                </section>
            </div>
        </div>
    </div>
</section>