@{
    ViewData["Title"] = "Mikrodermabraze";
}

<section class="section section--padding">
    <div class="container">
        <h1 class="heading heading--display">Mikrodermabraze</h1>

        <div class="grid grid--2v3">
            
            <div>
                <div class="sepia">
                    <img src="/img/sluzba/mikrodermabraze.jpg" alt="mikrodermabraze" class="sepia__img" />
                </div>
            </div>

            <div>
                <p>
                    Toužíte po jemné, sametové pleti během polední pauzy ? Zvolte vakuovou mikrodermabrazi. Učinně zmírňuje příznaky stárnutí kůže, léčí akné a pigmentové skvrny způsobené slunečním zářením. Může odstranit i drobné jizvy a rozšířené kožní póry. To vše bez
                    bolesti, anestezie a časové náročnosti.
                </p>

                <p>
                    Mkrodermabraze je velmi šetrná neinvazivní přístrojová metoda k odstranění vrchní vrstvy již neživých buněk kůže. Pomocí speciálních krystalů a současného působení vakua dochází k odstranění odumřelých buněk a k výraznému zkvalitnění průchodnosti pokožky
                    pro další aplikované výživné látky.
                </p>

                <p>
                    Působení vakua zlepšuje lymfatickou drenáž, což vede k potlačení otoků, stimuluje krevní oběh a detoxikaci kůže. Účinky mikrodermabraze vedou postupně k novotvorbě kolagenních a elastinových vláken a tedy k žádané rejuvenaci (omlazení) pokožky.
                </p>
            </div>
        </div>
    </div>
</section>