@{
    ViewData["Title"] = "Hyaluronic plumping";
}

<section class="section section--padding">
    <div class="container">
        <h1 class="heading heading--display">Oxyceutical</h1>

        <div class="grid grid--2v3">
            
            <div>
                <div class="sepia">
                    <img src="/img/sluzba/oxyceutical.jpg" alt="Oxyceutical" class="sepia__img" />
                </div>
            </div>

            <div>
                <p>
                    Ošetření biodisponibilním kyslíkem dodává pleti správné množství kyslíku a stimuluje buněčnou regeneraci. Účinek spočívá v jeho působení na enzymatický systém buněk a aktivaci mitochondriálního dýchacího řetězce. K ošetření se používá speciálně vytvořený set na bázi biodisponibilního kyslíku, kyslíku s maximální biologickou dostupností.

                </p>
                <p>
                    Ošetřením odstraníme hlavní projevy stárnutí a docílíme okamžitého výsledku. Pleť je vitálnější, pružnější, hydratovaná, vypnutá, projasněná a bez vrásek. Systém oxyceutical nabízí efektivní anti-age ošetření s řešením tonizace pleti, hydratace, depigmentace, je vhodný pro pleti poškozené UV zářením, smogem, stresem a kouřením. Systém oxyceutical urban oxy je bezpečný a je vhodný pro každý typ pleti.
                </p>
                 
               

                <div class="sepia">
                    <img src="/img/detail/oxyceutical-01.jpg" alt="Oxyceutical" class="sepia__img mb-3" />
                </div>

                <div class="sepia">
                    <img src="/img/detail/oxyceutical-02.jpg" alt="Oxyceutical" class="sepia__img mb-3" />
                </div>

                
            </div>
        </div>
    </div>
</section>