@{
    ViewData["Title"] = "Ceník";
}

<section class="section section--padding">
    <div class="container">
        <h1 class="heading heading--display">Ceník</h1>

        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">kosmetické služby</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        Celkové kosmetické ošetření de aktuálního stavu a potřeby s použitím elektro přístrojů - 90 min
                    </td>
                    <td>950 Kč</td>
                </tr>
                <tr>
                    <td>Diamantová mikrodermabraze - 55 min</td>
                    <td>690 Kč</td>
                </tr>

                <tr>
                    <td>
                        Galvanické ošetření pleti - 75 min
                        <br /> (odlíčení, peeling, galvanická žehlička s liftigovým sérem, maska, závěrečná péče)
                    </td>
                    <td>1.050 Kč</td>
                </tr>
                <tr>
                    <td>
                        Ultrazvukové ošetření pleti - 75 min
                        <br /> (odličeni, čištění pleti ultrazvukovou špachtlí, sonoforéza, maska, závěrečná péče)
                    </td>
                    <td>1.050 Kč</td>
                </tr>
                <tr>
                    <td>
                        Hyaluronic plumping
                    </td>
                    <td>1.850 Kč</td>
                </tr>
                <tr>
                    <td>Trvalá na řasy</td>
                    <td>550 Kč</td>
                </tr>
                <tr>
                    <td>Barvení řas</td>
                    <td>110 Kč</td>
                </tr>
                <tr>
                    <td>Lash lifting + botox řas</td>
                    <td>750 Kč</td>
                </tr>
                <tr>
                    <td>Laminace obočí</td>
                    <td>450 Kč</td>
                </tr>


                <tr>
                    <td>Barvení obočí</td>
                    <td>110 Kč</td>
                </tr>
                <tr>
                    <td>Úprava obočí</td>
                    <td>od 70 Kč</td>
                </tr>
                <tr>
                    <td>Kosmetická masáž klasika - 20 min</td>

                    <td>290Kč</td>
                </tr>
                <tr>
                    <td>Lymfatická masáž obličeje - 30 min</td>
                    <td>400 Kč</td>
                </tr>
                <tr>
                    <td>Relax masáž - 40 min</td>
                    <td>450 Kč</td>
                </tr>
                <tr>
                    <td>Liftingová masáž - 30 min</td>
                    <td>390 Kč</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">depilace horkým voskem</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Horní ret</td>
                    <td>60 Kč</td>
                </tr>
                <tr>
                    <td>V obličeji</td>
                    <td>od 100 Kč</td>
                </tr>
                <tr>
                    <td>Ruce</td>
                    <td>200 Kč</td>
                </tr>
                <tr>
                    <td>Lýtka</td>
                    <td>290 Kč</td>
                </tr>
                <tr>
                    <td>Celé nohy</td>
                    <td>550 Kč</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">depilace cukrovou pastou</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>V obličeji</td>
                    <td>250 Kč</td>
                </tr>
                <tr>
                    <td>Podpaží</td>
                    <td>250 Kč</td>
                </tr>
                <tr>
                    <td>Třísla</td>
                    <td>300 Kč</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">specifická ošetření germaine de capuccini</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Timexpert lift in</td>
                    <td>1.650 Kč</td>
                </tr>
                <tr>
                    <td>Excel therapy O2 cityproof</td>
                    <td>1.650 Kč</td>
                </tr>
                <tr>
                    <td>Hydracure</td>
                    <td>1.250 Kč</td>
                </tr>
                <tr>
                    <td>SRNS global anti-age on</td>
                    <td>1.650 Kč</td>
                </tr>
                <tr>
                    <td>Timexpert RIDES</td>
                    <td>1.690 Kč</td>
                </tr>
                <tr>
                    <td>Timexpert RIDES Eyes</td>
                    <td>1.100 Kč</td>
                </tr>
                <tr>
                    <td>Elekterolifting</td>
                    <td>990 Kč</td>
                </tr>
                <tr>
                    <td>Microneedling Derma Pen</td>
                    <td>1.750 Kč</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">líčení</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Denní, večerní, svatební</td>
                    <td>od 600 Kč</td>
                </tr>
            </tbody>
        </table>
        <a href="/obchodni-podminky.pdf" target="_BLANK">Obchodní podmínky</a>
    </div>
</section>
