@{
    ViewData["Title"] = "Dárkové vouchery";
}

<section class="section section--padding">
    <div class="container">
        <h1 class="heading heading--display">dárkové vouchery</h1>

        <div class="grid grid--2v3">
            <div>
                <div class="sepia">
                    <img src="/img/sluzba/darek.jpg" alt="dárkové vouchery" class="sepia__img" />
                </div>
            </div>

            <div>
                <p>
                    Dárkové vouchery je možné objednat na e-mailu<br />
                    <a href="mailto:ecklip@seznam.cz">ecklip@seznam.cz</a>
                </p>

                <p>
                    Po přijetí vaší objednávky vám bude zasláno číslo účtu a variabilní symbol pro zaplacení. Následně vám bude voucher odeslán na e-mail, případně je možné si ho vyzvednout
                    osobně.
                </p>

                <p>
                    V případě zájmu lze objednat voucher i na jiné, Vámi zvolené ošetření.
                </p>
            </div>
        </div>
    </div>
</section>