@{
    ViewData["Title"] = "Depilace cukrovou pastou";
}

<section class="section section--padding">
    <div class="container">
        <h1 class="heading heading--display">depilace cukrovou pastou</h1>

        <div class="grid grid--2v3">
            <div class="bg bg--center bg--rect"></div>
            <div>
                <div class="sepia">
                    <img src="/img/sluzba/depilace.jpg" alt="depilace cukrovou pastou" class="sepia__img" />
                </div>
            </div>

            <div>
                <h2 class="heading heading--title">
                    depilace cukrovou pastou
                </h2>

                <p>
                    Depilační cukrová pasta se připravuje na bázi starověkých receptů Blízkého východu a to výhradně z přírodních materiálů. Obsahuje cukr a vodu a nenajdete v ní žádné chemické prvky, barvivo či parfém. Při použití depilační cukrové pasty jsou proto alergické
                    reakce a kožní podráždění minimální.
                </p>

                <p>
                    Z Vašeho těla lze cukrovou pastou odstranit chloupky dlouhé 1 mm, ideální délka chloupků je 2-3 mm (přes 5 mm nemusí být depilace příjemná) a proto Vaše pokožka může být stále hladká. Opakované ošetření cukrovou pastou je individuální u každého klienta
                    (dle rychlosti růstu vlasu a depilované části těla), obecně lze počítat s dobou mezi 2 - 6 týdny.
                </p>

                <p>
                    Depilace cukrovou pastou je založena na ruční technice, při níž je vlažná hmota vmasírována do pokožky proti směru růstu chloupků a poté chloupky z vlasového váčku vytaženy po směru růstu. Tímto způsobem lze depilovat kteroukoli část těla a je možné modelovat
                    i velmi jemné linie (obočí, ušní boltce, třísla, klín - brazilská depilace).
                </p>

                <p>
                    Při depilaci cukrovou pastou nedochází k přetrhání chloupků a nežádoucím reakcím a depilace je téměř bezbolestná.
                </p>

                <p>
                    Depilační cukrová pasta přilne pouze k chloupkům a současně odstraňuje šetrně pouze odumřelé pleťové buňky. Cukrová pasta může být nanesena několikrát na stejné místo, dokud se chloupek neodstraní, aniž by byla pokožka traumatizována. Při depilaci cukrovou
                    pastou Vám nehrozí žádné popálení, protože je pasta aplikována ve vlažném stavu. Na citlivých partiích, jako je horní ret nebo obočí Vám zčervenání pokožky zmizí rychleji oproti depilaci teplým voskem.
                </p>

                <p>
                    Po aplikaci depilační cukrové pasty na Vašem těle nezůstává žádná pasta. Odpadá použití chemických čisticích prostředků a je tedy i ekologická. Díky své jedinečné konzistenci nehrozí u cukrové pasty zaschnutí či ztvrdnutí jako u vosku.
                </p>
            </div>
        </div>
    </div>
</section>