@{
    ViewData["Title"] = "Elektrolifting";
}

<section class="section section--padding">
    <div class="container">
        <h1 class="heading heading--display">Elektrolifting</h1>

        <div class="grid grid--2v3">
            <div>
                <div class="sepia">
                    <img src="/img/sluzba/elektrolifting.jpg" alt="elektrolifting" class="sepia__img" />
                </div>
            </div>

            <div>
                <p>
                    Elektrolifting neboli pasivní gymnastika patří mezi programy, které dokáží účinně omezit viditelné projevy stárnutí, zachovat pružnost pleti a mladistvý vzhled.


                </p>

                <p>
                    Zcela bezbolestná svalová elekrostimulace napíná obličejové svaly, které jsou oporou kožní struktury.
                </p>

                <p>
                    Zároveň zlepšuje buněčný metabolismus, okysličuje pokožku, stimuluje buňky odpovědné za tvorbu kolagenu a aktivuje lymfu. Zvláště vhodný pro ochablou či předčasně zestárlou pleť.
                </p>
            </div>
        </div>
    </div>
</section>