@{
    ViewData["Title"] = "Elektrokosmetika";
}

<section class="section section--padding">
    <div class="container">
        <h1 class="heading heading--display">Elektrokosmetika</h1>

        <div class="grid grid--2v3">
            <div class="bg bg--center bg--rect"></div>
            <div>
                <div class="sepia">
                    <img src="/img/sluzba/elektrokosmetika.jpg" alt="elektrokosmetika" class="sepia__img" />
                </div>
            </div>

            <div>
                <h2 class="heading heading--title">mikrogalvanická iontofréza</h2>

                <p class="mb-2">
                    Účinné vpravování aktivních látek do epidermis a vrchní části dermis
                </p>

                <h2 class="heading heading--title"> PASIVNÍ CVIČENÍ, ELEKTROLIGTING OBLIČEJE</h2>

                <p class="mb-2">
                    Pro pokožku ochablou, unavenou a při snížení tonusu pokožky
                </p>

                <h2 class="heading heading--title">TEPELNÉ OŠETŘENÍ</h2>

                <p class="mb-2">
                    Zvýšení teploty, stimulace krevního oběhu, zlepšení výživy a okysliční pokožky
                </p>

                <h2 class="heading heading--title">DEZINKRUSTACE</h2>

                <p class="mb-2">
                    Bezbolestné odstranění mazotoku a hloubkové češtění pleti
                </p>
            </div>
        </div>
    </div>
</section>