@{
    ViewData["Title"] = "Salon krásy";
}

<section class="intro" id="intro">
    <div class="container">
        <div class="intro__title-panel">
            <h1 class="intro__title heading">marelen</h1>
            <span class="intro__subtitle heading">salon</span>
        </div>
    </div>
</section>

<section class="section section--padding">
</section>