@{
    ViewData["Title"] = "Kontakt";
}

<section class="section section--padding">
    <div class="container">
        
        <h1 class="heading heading--header">kontakt</h1>
        <grid class="grid grid--123">
            <div>
                <h3 class="heading heading--title">salon marelen</h3>

                <p>
                    Mírové náměstí 1583<br>(naproti Penny marketu)<br>Dobříš 263 01
                </p>
            </div>

            <div>
                <h3 class="heading heading--title">kosmetika</h3>

                <p>
                    Petra Soukup Ecklová, DiS<br> Tel.: 604 308 910<br>
                    <a href="mailto:kosmetika@marelen.cz">
                        kosmetika@marelen.cz
                    </a>
                </p>
            </div>

            <div>
                <h3 class="heading heading--title">kadeřnictví</h3>

                <p>
                    Monika Krátká<br> Tel.: 606 275 379
                    <a href="mailto:kadernictvi@marelen.cz">
                        kadernictvi@marelen.cz
                    </a>
                </p>
            </div>
        </grid>

    </div>
</section>

