@{
    ViewData["Title"] = "Lasocare - low power laser";
}

<section class="section section--padding">
    <div class="container">
        <h1 class="heading heading--display">lasocare - low power laser</h1>

        <div class="grid grid--2v3">
            <div class="bg bg--center bg--rect"></div>
            <div>
                <div class="sepia">
                    <img src="/img/sluzba/lasocare.jpg" alt="lasocare laser" class="sepia__img" />
                </div>
            </div>

            <div>
                    <h2 class="heading heading--title">PANORAMA DUO SILVER - STŘÍBRNÝ ŠPERK V MÉM SALONU</h2>

                    <p>
                        Panorama DUO Stella pro omlazování a regeneraci biologicky přirozenou cestou (samostatně pracující laserový scanner z ušlechtilých slitin kovů)

                    </p>

                    <p>
                        Synergicky působících 12 červených + 12 infračervených laserů nabízí jedinečný kosmetický i terapeutický účinek: červené laserové světlo se koncentruje v hloubce 2 cm > vrásky, akné, jizvy, povrchové rány, alopecie a zlepšení kvality vlasů a nehtů
                    </p>

                    <p class="mb-5">
                        Infračervené laserové světlo stimuluje regeneraci tkáně v hloubce 9 cm> uvolnění mimických svalů tváře, lymfatický systém, degenerativní stavy svalů a kloubů, bolest hlavy, zánět dutin, aj.
                    </p>

                    <div class="sepia mb-3">
                        <img src="/img/detail/lasocare-krem.jpg" alt="lasocare krem" class="sepia__img" />
                    </div>

                    <div class="sepia">
                        <img src="/img/detail/lasocare-laser.jpg" alt="lasocare laser" class="sepia__img" />
                    </div>
            </div>
        </div>
    </div>
</section>