@{
    ViewData["Title"] = "Služby";
}

<section class="section section--padding">
    <div class="container">
        <h1 class="heading heading--display">Naše služby</h1>

        <h2 class="heading heading--header">klasická kosmetika</h2>

        <div class="grid grid--12 mb-8">
            

            <article class="card card--service">
                <div class="card__img sepia">
                    <img src="/img/sluzba/kosmetika.jpg" alt="kosmetika" class="sepia__img" />
                </div>
                <div class="card__body">
                    <h3 class="card__title">kosmetika</h3>

                    <p class="card__text">
                        Základní ošetření pro všechny typy pleti, regenerační péče, masáže, masky, trvalá na řasy, barvení obočí a řas, depilace, odstranění celulitidy, líčení, poradenství a další.
                    </p>
                </div>

                <p>
                    <a asp-area="" asp-controller="Home" asp-action="Kosmetika" class="button">detail</a>
                </p>
            </article>

            <article class="card card--service">
                <div class="card__img sepia">
                    <img src="/img/sluzba/masaz.jpeg" alt="masáž obličeje" class="sepia__img" />
                </div>

                <div class="card__body">
                    <h3 class="card__title">masáž</h3>

                    <p class="card__text">
                        Jemná, velmi příjemná relaxační masáž, při níž klientka načerpá ztracenou energii a příjemně se odreaguje. Ideální pro osoby trpící pracovním vypětím, stresem nebo nervozitou.
                    </p>
                </div>

                <p>
                    <a asp-area="" asp-controller="Home" asp-action="Masaz" class="button">detail</a>
                </p>
            </article>

            <article class="card card--service">
                <div class="card__img sepia">
                    <img src="/img/sluzba/peeling.jpg" alt="chemický peeling" class="sepia__img" />
                </div>

                <div class="card__body">
                    <h3 class="card__title">chemický peeling</h3>

                    <p class="card__text">
                        Omládněte, zbavte se jemných vrásek, akné, jizev i pigmentových znamének. Opravdu EXKLUZIVNÍ procedura.
                    </p>
                </div>

                <p>
                    <a asp-area="" asp-controller="Home" asp-action="Peeling" class="button">detail</a>
                </p>
            </article>

            <article class="card card--service">
                <div class="card__img sepia">
                    <img src="/img/sluzba/depilace.jpg" alt="depilace cukrovou pastou" class="sepia__img" />
                </div>

                <div class="card__body">
                    <h3 class="card__title">depilace cukrovou pastou</h3>

                    <p class="card__text">
                        Depilační cukrová pasta se připravuje na bázi starověkých receptů Blízkého východu a to výhradně z přírodních materiálů. Obsahuje jen cukr a vodu.
                    </p>
                </div>

                <p>
                    <a asp-area="" asp-controller="Home" asp-action="Depilace" class="button">detail</a>
                </p>
            </article>
        </div>

        <h2 class="heading heading--header">elektrokosmetika</h2>

        <div class="grid grid--12 mb-8">
            
            <article class="card card--service">
                <div class="card__img sepia">
                    <img src="/img/sluzba/hyaluronic.jpeg" alt="Hyaluronic plumping" class="sepia__img" />
                </div>

                <div class="card__body">
                    <h3 class="card__title">Hyaluronic plumping</h3>

                    <p class="card__text">
                        Zhutnění a zvýšení objemu pleti kyselinou hyaluronovou. Neinvazivní zhutnění a objemové ošetření, které vyplňuje, snižuje šířku a hloubku vrásek včetně mimických linií.
                    </p>
                </div>

                <p>
                    <a asp-area="" asp-controller="Home" asp-action="Hyaluronic" class="button">detail</a>
                </p>
            </article>

            <article class="card card--service">
                <div class="card__img sepia">
                    <img src="/img/sluzba/elektrokosmetika.jpg" alt="elektrokosmetika" class="sepia__img" />
                </div>

                <div class="card__body">
                    <h3 class="card__title">Elektrokosmetika</h3>

                    <p class="card__text">
                        Mikrogalvanická iontoforéza, pasivní cvičení, elektrolifting obličeje, tepelné ošetření, bezbolestné odstranění mazotoku a hloubkové češtění pleti.
                    </p>
                </div>

                <p>
                    <a asp-area="" asp-controller="Home" asp-action="Elektrokosmetika" class="button">detail</a>
                </p>
            </article>

            <article class="card card--service">
                <div class="card__img sepia">
                    <img src="/img/sluzba/mikrodermabraze.jpg" alt="mikrodermabraze" class="sepia__img" />
                </div>

                <div class="card__body">
                    <h3 class="card__title">Mikrodermabraze</h3>

                    <p class="card__text">
                        Toužíte po jemné, sametové pleti během polední pauzy ? Zvolte vakuovou mikrodermabrazi. Účinně zmírňuje příznaky stárnutí kůže, léčí akné, pigmentové skvrny a další.
                    </p>
                </div>

                <p>
                    <a asp-area="" asp-controller="Home" asp-action="Mikrodermabraze" class="button">detail</a>
                </p>
            </article>

            <article class="card card--service">
                <div class="card__img sepia">
                    <img src="/img/sluzba/elektrolifting.jpg" alt="elektrolifting" class="sepia__img" />
                </div>

                <div class="card__body">
                    <h3 class="card__title">elektrolifting</h3>

                    <p class="card__text">
                        Elektrolifting neboli pasivní gymnastika patří mezi programy, které dokáží účinně omezit viditelné projevy stárnutí, zachovat pružnost pleti a mladistvý vzhled.
                    </p>
                </div>

                <p>
                    <a asp-area="" asp-controller="Home" asp-action="Elektrolifting" class="button">detail</a>
                </p>
            </article>

            <article class="card card--service">
                <div class="card__img sepia">
                    <img src="/img/sluzba/lasocare.jpg" alt="lasocare" class="sepia__img" />
                </div>

                <div class="card__body">
                    <h3 class="card__title">lasocare - low power laser</h3>

                    <p class="card__text">
                        Panorama DUO Stella pro omlazování a regeneraci biologicky přirozenou cestou (samostatně pracující laserový scanner z ušlechtilých slitin kovů).
                    </p>
                </div>

                <p>
                    <a asp-area="" asp-controller="Home" asp-action="Lasocare" class="button">detail</a>
                </p>
            </article>

            <article class="card card--service">
                <div class="card__img sepia">
                    <img src="/img/sluzba/spachtle.jpeg" alt="ultrazvuková špachtle" class="sepia__img" />
                </div>

                <div class="card__body">
                    <h3 class="card__title">ultrazvuková špachtle</h3>

                    <p class="card__text">
                        Ultrazvuková špachtle odstraňuje odumřelé kožní buňky pomocí jemného ultrazvukového peelingu a pomáhá čistit pleť včetně komedonů bez podráždění.
                    </p>
                </div>

                <p>
                    <a asp-area="" asp-controller="Home" asp-action="Spachtle" class="button">detail</a>
                </p>
            </article>

            <article class="card card--service">
                <div class="card__img sepia">
                    <img src="/img/sluzba/microneedling.jpg" alt="microneedling dermapen" class="sepia__img" />
                </div>

                <div class="card__body">
                    <h3 class="card__title">microneedling dermapen</h3>

                    <p class="card__text">
                        Microneedling – DermaPen neboli mikrojehličkování je nová, elegantní a vysoce účinná terapie ke stimulaci tvorby kolagenu a elastinu.
                    </p>
                </div>

                <p>
                    <a asp-area="" asp-controller="Home" asp-action="Microneedling" class="button">detail</a>
                </p>
            </article>
        </div>

        <h2 class="heading heading--header">ostatní</h2>

        <div class="grid grid--12 mb-8">
            <article class="card card--service">
                <div class="card__img sepia">
                    <img src="/img/sluzba/darek.jpg" alt="dárkový voucher" class="sepia__img" />
                </div>

                <div class="card__body">
                    <h3 class="card__title">dárkové vouchery</h3>

                    <p class="card__text">
                        Potěšte své známé dárkovým voucherem na kosmetické služby. Vyberte si z nabídky nebo si vyberte jakýkoli balíček dle Vašeho přání.
                    </p>
                </div>

                <p>
                    <a asp-area="" asp-controller="Home" asp-action="Darek" class="button">detail</a>
                </p>
            </article>
        
        
        </div>

</section>