@{
    ViewData["Title"] = "Služby";
}

<section class="section section--padding">
    <div class="container">
        <h1 class="heading heading--display">Naše služby</h1>

        <h2 class="heading heading--header">klasická kosmetika</h2>

        <div class="grid grid--12 mb-8">
            <div class="bg bg--center bg--rect"></div>

            <article class="card card--service">
                <div class="card__img sepia">
                    <img src="/img/sluzba/kosmetika.jpg" alt="kosmetika" class="sepia__img" />
                </div>

                <h3 class="card__title">kosmetika</h3>

                <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus est at nibh tempus posuere. Nulla sagittis vitae justo quis sagittis. Curabitur odio augue, pharetra et imperdiet eu, interdum a quam.</p>
                <p>
                    <a href="#" class="button">detail</a>
                </p>
            </article>


        </div>
       

      
    </div>
</section>