@{
    ViewData["Title"] = "Ultrazvuková špachtle";
}

<section class="section section--padding">
    <div class="container">
        <h1 class="heading heading--display">ultrazvuková špachtle</h1>

        <div class="grid grid--2v3">
            <div class="bg bg--center bg--rect"></div>

            <div>
                <div class="sepia">
                    <img src="/img/sluzba/spachtle.jpeg" alt="ultrazvuková špachtle" class="sepia__img" />
                </div>
            </div>

            <div>
                <p>
                    Ultrazvuková špachtle odstraňuje odumřelé kožní buňky pomocí jemného ultrazvukového peelingu, pomáhá čistit pleť včetně komedonů bez podráždění. Další důležitou funkcí je sonoforéza, tj. zapracování sér, ampulí, kolagenu a gelových masek do hloubky pleti.
                    Pomocí ultrazvuku se zmnohonásobí účinnost látek, které jsou v těchto přípravcích obsažené. Ultrazvuková špachtle zanechává pleť osvěženou, omlazenou a jemnou.
                </p>

                <section class="subsection">
                    <h2 class="heading heading--title">FUNKCE</h2>

                    <ul>
                        <li>hloubkové čištění</li>
                        <li>peeling</li>
                        <li>sonoforéza: zapracování sér a ampulí</li>
                        <li>možnost nastavení větší nebo menší intenzity</li>
                    </ul>
                </section>

                <section class="subsection">
                    <h2 class="heading heading--title">hloubkové čištění</h2>

                    <img class="detail__img" src="/img/detail/spachtle-01.jpg" alt="schéma ultrazvukové špachtle">
                </section>

                <section class="subsection">
                    <h2 class="heading heading--title">SONOFORÉZA</h2>

                    <img class="detail__img" src="/img/detail/spachtle-02.jpg" alt="schéma ultrazvukové špachtle">
                </section>
            </div>
        </div>
    </div>
</section>