@font-face {
  font-family: font-primary;
  src: url(/css/font/Montserrat/Montserrat-Regular.ttf); }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-family: font-primary;
  line-height: 2;
  font-size: 16px;
  letter-spacing: 0.05em; }
  @media (min-width: 1200px) {
    html {
      font-size: 18px; } }

body {
  background: #ffffff;
  color: #999;
  overflow-x: hidden; }

header,
main,
footer,
section,
article,
nav,
img {
  display: block; }

img {
  border-style: none; }

p {
  margin-bottom: 1rem; }

ul {
  list-style-position: inside;
  list-style: none; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

a {
  text-decoration: none;
  color: #513a2a; }
  a:hover {
    opacity: 0.5; }

table td:first-child {
  padding-right: 5rem; }

table {
  height: auto; }

.text--small {
  font-size: 0.85rem; }

.text--capital {
  font-size: 0.85rem;
  font-style: italic;
  color: #999; }

.heading, .footer__brand, .intro__title, .intro__subtitle, .card-h__title {
  position: relative;
  font-weight: normal;
  line-height: 1.4;
  color: #513a2a;
  text-transform: uppercase;
  margin-bottom: 1em;
  letter-spacing: 0.5em; }
  .heading--display {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #999; }
    @media (min-width: 768px) {
      .heading--display {
        font-size: 5rem;
        margin-bottom: 5rem; } }
  .heading--header {
    position: relative;
    font-size: 2.3rem;
    margin-bottom: 3em;
    letter-spacing: 0.2em; }
  .heading--title, .footer__brand, .card-h__title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1em; }
  .heading--subtitle {
    letter-spacing: 0;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #666; }

.table {
  border: 1px solid white;
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 3rem;
  min-width: 150px; }
  .table th {
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem; }
  .table tr {
    border-top: 1px solid #eee;
    height: 4rem; }
    .table tr:first-child {
      border: none; }
  .table td {
    border: none;
    text-align: left; }
    .table td:first-child {
      width: 9999px; }
    .table td:last-child {
      white-space: nowrap;
      text-align: right; }

.img {
  width: 100%;
  max-width: 500px; }
  .img--shadow {
    box-shadow: 0 20px 50px #888; }
  .img--bw {
    filter: grayscale(100); }
  .img--cover {
    width: none;
    max-width: none;
    object-fit: cover; }
  .img--sepia {
    filter: hue-rotate(30deg); }

.main {
  padding-top: 100px; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; }

.heading, .footer__brand, .intro__title, .intro__subtitle, .card-h__title {
  position: relative;
  font-weight: normal;
  line-height: 1.4;
  color: #513a2a;
  text-transform: uppercase;
  margin-bottom: 1em;
  letter-spacing: 0.5em; }
  .heading--display {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #999; }
    @media (min-width: 768px) {
      .heading--display {
        font-size: 5rem;
        margin-bottom: 5rem; } }
  .heading--header {
    position: relative;
    font-size: 2.3rem;
    margin-bottom: 3em;
    letter-spacing: 0.2em; }
  .heading--title, .footer__brand, .card-h__title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1em; }
  .heading--subtitle {
    letter-spacing: 0;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #666; }

.footer {
  width: 100%; }
  .footer__body {
    padding: 3rem 0;
    background: #f1efe7; }
  .footer__item {
    display: flex; }
  .footer__link {
    text-transform: uppercase;
    text-align: left;
    font-size: 13px;
    color: #513a2a;
    letter-spacing: 0.2em;
    margin-bottom: 1.5em; }
  .footer__brand {
    font-size: 0.8rem;
    color: #513a2a; }
    .footer__brand:hover {
      opacity: 0.5; }
  .footer__icon {
    height: 18px;
    display: inline-block; }
  .footer__design {
    background: #333;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer__design-link {
      font-size: 0.8rem;
      text-align: center;
      color: #f1efe7; }

.section {
  position: relative;
  padding: 0; }
  .section--padding {
    padding-top: 5rem;
    padding-bottom: 5rem; }

.subsection {
  padding-bottom: 3rem; }

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1140px; }

.container-half {
  width: 90%;
  max-width: 570px;
  padding: 32px; }
  @media (min-width: 992px) {
    .container-half {
      padding: 64px; } }
  .container-half--left {
    margin-left: auto;
    margin-right: 0;
    padding-left: 0; }
  .container-half--right {
    margin-left: 0;
    margin-right: auto;
    padding-right: 0; }

.grid {
  width: 100%;
  display: grid;
  position: relative;
  grid-gap: 5rem 16px;
  margin: 0 auto;
  grid-template-columns: 1fr; }
  .grid--12 {
    grid-template-columns: 1fr; }
    @media (min-width: 768px) {
      .grid--12 {
        grid-template-columns: 1fr 1fr; } }
  .grid--13 {
    grid-template-columns: 1fr; }
    @media (min-width: 768px) {
      .grid--13 {
        grid-template-columns: 1fr 1fr 1fr; } }
  .grid--123 {
    grid-template-columns: 1fr; }
    @media (min-width: 768px) {
      .grid--123 {
        grid-template-columns: 1fr 1fr; } }
    @media (min-width: 1200px) {
      .grid--123 {
        grid-template-columns: 1fr 1fr 1fr; } }

.heading, .footer__brand, .intro__title, .intro__subtitle, .card-h__title {
  position: relative;
  font-weight: normal;
  line-height: 1.4;
  color: #513a2a;
  text-transform: uppercase;
  margin-bottom: 1em;
  letter-spacing: 0.5em; }
  .heading--display {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #999; }
    @media (min-width: 768px) {
      .heading--display {
        font-size: 5rem;
        margin-bottom: 5rem; } }
  .heading--header {
    position: relative;
    font-size: 2.3rem;
    margin-bottom: 3em;
    letter-spacing: 0.2em; }
  .heading--title, .footer__brand, .card-h__title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1em; }
  .heading--subtitle {
    letter-spacing: 0;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #666; }

.intro {
  position: relative;
  width: 100vw;
  height: calc(100vh - 100px);
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(/img/hoblina.jpg) no-repeat center bottom;
  background-size: cover;
  text-align: center; }
  .intro__top {
    height: 250px;
    width: 100%;
    background: #f1efe7; }
  .intro__panel {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .intro__picture {
    width: 453px;
    margin-bottom: 120px; }
  .intro__title {
    font-size: 70px;
    font-weight: normal;
    margin-bottom: 1rem;
    transform: translateX(0.25em); }
    @media (min-width: 992px) {
      .intro__title {
        font-size: 5rem; } }
  .intro__subtitle {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 60px;
    letter-spacing: 0.5em;
    transform: translateX(0.25em); }
    @media (min-width: 992px) {
      .intro__subtitle {
        font-size: 1.5rem; } }

.nav {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  background: #f1efe7; }
  .nav__bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }
  .nav__item {
    padding: 32px 0;
    text-align: center; }
  .nav__link {
    font-size: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #513a2a; }
  .nav__icon {
    height: 20px; }
  .nav__brand {
    height: 18px; }
  .nav__menu {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #f1efe7;
    display: none;
    padding-bottom: 32px; }
    .nav__menu--active {
      display: flex; }
  @media (min-width: 992px) {
    .nav__bar {
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
    .nav__menu {
      position: relative;
      top: initial;
      left: initial;
      width: 80%;
      display: flex;
      flex-direction: row;
      padding-bottom: 0; }
    .nav__hamb, .nav__close {
      display: none; } }

.button {
  color: #ffffff;
  background: #666;
  font-weight: bold;
  padding: 8px 32px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 0.1em; }
  .button:hover {
    opacity: 0.5; }

.link {
  font-weight: bold;
  display: inline-block; }

.heading, .footer__brand, .intro__title, .intro__subtitle, .card-h__title {
  position: relative;
  font-weight: normal;
  line-height: 1.4;
  color: #513a2a;
  text-transform: uppercase;
  margin-bottom: 1em;
  letter-spacing: 0.5em; }
  .heading--display {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #999; }
    @media (min-width: 768px) {
      .heading--display {
        font-size: 5rem;
        margin-bottom: 5rem; } }
  .heading--header {
    position: relative;
    font-size: 2.3rem;
    margin-bottom: 3em;
    letter-spacing: 0.2em; }
  .heading--title, .footer__brand, .card-h__title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1em; }
  .heading--subtitle {
    letter-spacing: 0;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #666; }

.card-h {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr; }
  @media (min-width: 992px) {
    .card-h {
      grid-template-columns: 1fr 1fr; } }
  .card-h__header {
    order: 0;
    min-height: 250px; }
  .card-h__body {
    order: 1; }
  .card-h__img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .card-h__text {
    margin-bottom: 3rem; }
  .card-h--big-space {
    grid-gap: 64px 128px; }
  @media (min-width: 992px) {
    .card-h--2v3 {
      grid-template-columns: 2fr 3fr; } }
  @media (min-width: 992px) {
    .card-h--3v2 {
      grid-template-columns: 3fr 2fr; } }
  @media (min-width: 992px) {
    .card-h--rev .card-h__header {
      order: 1; }
    .card-h--rev .card-h__body {
      order: 0; } }

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  overflow: hidden; }
  .card__header {
    margin-bottom: 32px; }
  .card__body {
    flex: 1 1 auto;
    margin-bottom: 32px; }
  .card__img {
    margin-bottom: 1rem; }
  .card__display {
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 2rem; }

.sepia {
  background: #f1efe7;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.144); }
  .sepia__img {
    width: 100%;
    object-fit: cover;
    mix-blend-mode: luminosity; }
  .sepia--title {
    box-shadow: none; }

.about__panel {
  background: #f1efe7;
  padding-top: 10rem;
  padding-bottom: 8rem; }

.about__logo {
  position: relative;
  width: 55px;
  margin: 0 auto; }

.about__img {
  transform: translateY(80px); }

.about__text {
  color: #513a2a;
  opacity: 0.8;
  margin-bottom: 5rem; }

.about__title {
  margin-bottom: 5rem; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.d-none {
  display: none !important; }

.d-block {
  display: block !important; }

.d-flex {
  display: flex !important; }

.p-0 {
  padding: 0 !important; }

.m-0 {
  margin: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.mb-1 {
  margin-bottom: 1rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.mb-5 {
  margin-bottom: 5rem !important; }

.mb-8 {
  margin-bottom: 8rem !important; }

.mb-10 {
  margin-bottom: 10rem !important; }

.mt-5 {
  margin-top: 5rem !important; }

.mt-8 {
  margin-top: 8rem !important; }

.mt-10 {
  margin-top: 10rem !important; }

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important; }

.w-25 {
  width: 25%; }

.w-50 {
  width: 50%; }

.w-75 {
  width: 75%; }

.w-100 {
  width: 100%; }

.w-max-500 {
  max-width: 500px; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999; }
  .bg--center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .bg--rect {
    background: #f1efe7;
    width: 50%;
    height: 100%;
    top: 0;
    transform: translate(-50%, 80px);
    display: none; }
    @media (min-width: 992px) {
      .bg--rect {
        display: block; } }

.color--white {
  color: #ffffff !important; }

.bg-pink {
  background: pink; }
