@import "../core/variable.scss";
@import "../base/heading.scss";
.footer {
    width: 100%;
    &__body {
        padding: 3rem 0;
        background: $color-secondary;
    }
    &__item {
        display: flex;
    }
    &__link {       
        text-transform: uppercase;
        text-align: left;
        font-size: 13px;
        color: $color-primary;
        letter-spacing: 0.2em;
        margin-bottom: 1.5em;
    }
    &__brand {
        @extend .heading;
        @extend .heading--title;
        font-size: 0.8rem;
        color: $color-primary;
        &:hover {
            opacity: 0.5;
        }
    }
    &__icon {
        height: 18px;
        display: inline-block;
    }
    &__design {
        background: $color-black-dark;
        padding: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-link {
            font-size: 0.8rem;
            text-align: center;
            color: $color-secondary;
        }
    }
}