@import "../core/variable.scss";
.section {
    position: relative;
    padding: 0;
    &--padding {
        padding-top: 12rem;
        padding-bottom: 8rem;
    }
}

.subsection {
    padding-bottom: 3rem;
}