@import "../core/variable.scss";
.heading {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.1em;
    color: $color-primary;
    margin-bottom: 1em;
    &--display {
        font-size: 1.8rem;
        margin-bottom: 4rem;
    }
    &--header {
        position: relative;
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }
    &--title {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
    @media(min-width: $breakpoint-tablet) {
        &--display {
            font-size: 2.3rem;
            margin-bottom: 6rem;
        }
        &--header {
            font-size: 1.7rem;
            margin-bottom: 5rem;
        }
    }
}