@import "../core/variable.scss";
.table {
    border: 1px solid white;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 3rem;
    min-width: 150px;
    th {
        text-transform: uppercase;
        border-bottom: 2px solid $color-black;
        text-align: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    tr {
        border-top: 1px solid $color-light;
        height: 4rem;
        &:first-child {
            border: none;
        }
    }
    td {
        // padding-left: 1rem;
        // padding-right: 1rem;
        border: none;
        text-align: left;
        &:first-child {
            width: 9999px;
        }
        &:last-child {
            white-space: nowrap;
            text-align: right;
        }
    }
}