@import "../core/variable.scss";
.table {
    border: 1px solid white;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 3rem;
    background: $color-secondary;
    min-width: 150px;

    th {
        background-color: $color-primary;
        color: $color-secondary;
        text-transform: uppercase;
        border-top: 4px solid $color-white;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    tr {
        border-top: 2px solid $color-white;
        height: 4rem;
    }

    td {
        padding-left: 1rem;
        padding-right: 1rem !important;
        border: none;
        text-align: left;

        &:first-child {
            width: 9999px;
        }

        &:last-child {
            white-space: nowrap;
            text-align: right;
        }
    }
}